# package directories
node_modules
jspm_packages
.npm

# Serverless directories
.serverless

# dst
dst
dst.zip

# environment
.env

# ide and editor
.idea/
.vscode/

# Local dynamodb
.dynamodb/

# Webpack build
.webpack/
