sudo: true
dist: trusty
language: node_js

node_js:
- node

notifications:
  email: false

cache:
  directories:
    - node_modules

branches:
  only:
  - master
  - /^feature-.*$/

before_script:
  - npm install serverless tslint typescript -g

script:
  - npm run lint
  # - npm run test
  - if [ "$TRAVIS_BRANCH" = "master" ];
      then npm run deploy:prod;
